<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Customers</h5>
                <p class="card-text"></p>
                <a href="@Url.Action("Index","Customer")" class="btn btn-primary">GO</a>
            </div>
        </div>
    </div> 
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Offers</h5>
                <p class="card-text"></p>
                <a href="@Url.Action("Index","Offer")" class="btn btn-primary">GO</a>
            </div>
        </div>
    </div>
</div>



