@using Microsoft.Store.PartnerCenter.Models.Customers
@model IEnumerable<Customer>
@{
    Layout = null;
}

<table class="table" id="tbl-customer">
    <thead>
        <tr>
            <th>Name</th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item?.CompanyProfile?.CompanyName</td>
            </tr>
        }
    </tbody>
</table>

<script>
$(function() { 
    $("#tbl-customer").DataTable();
})
</script>
