@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    <div class="card-header">
        Create New Customer
    </div>
    <div class="card-body">
        <form id="customer-create">
            <div class="form-group row mb-1">
                <label for="companyName" class="col-sm-2 col-form-label">Company Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="companyName">
                </div>
            </div>
            <div class="form-group row mb-1">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Domain</label>
                <div class="col-sm-10">
                    <div class="input-group mb-2 mr-sm-2">
                        <input type="text" class="form-control" id="domain">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="create-customer-domain-prepend">.onmicrosoft.com</div>

                        </div>
                    </div>
                    <div class="text-muted" id="create-customer-check-domain-result">

                    </div>
                </div>
            </div>
        </form>
    </div>
<script>
$("#customer-create #domain").keyup(function() { 
    delay(function() { 
        DCMS.Customer.CheckDomain('#create-customer-domain-prepend','#create-customer-check-domain-result')
    },250)
})
</script>
</div>

