<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Offers</h5>
                <p class="card-text"></p>
                <a href="@Url.Action("Index","Offer")" class="btn btn-primary">GO</a>
            </div>
        </div>
    </div>
      <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Products</h5>
                <p class="card-text"></p>
                <a href="@Url.Action("Index","Product")" class="btn btn-primary">GO</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Orders</h5>
                <p class="card-text"></p>
                <a href="@Url.Action("Index","Order")" class="btn btn-primary">GO</a>
            </div>
        </div>
    </div>
</div>



