@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IConfiguration _configuration;
@{
    string _demoCustomerId = _configuration.GetSection("DemoCustomerId").Value;
}
<div class="row align-items-end">
   
    <div class="col-md-1 offset-11">
        <button type="button" class="btn btn-outline-success btn-xs" onclick="DCMS.Order.GetOrdersByCustomerId('#order_index_orderContainer','#order_index_orderContainer','@_demoCustomerId')">
            Refresh
        </button>
    </div>
</div>
<hr />
<div id="order_index_orderContainer">
</div>

@section Scripts{
    <script>
        $(function() {
            DCMS.Order.GetOrdersByCustomerId('#order_index_orderContainer','#order_index_orderContainer','@_demoCustomerId');
        })
    </script>
}